
{% extends 'base.html' %}

{% block content %}
    <h1>Hello Student</h1>
  <h2>Welcome, {{ user.get_full_name }} <small> Username:{{ user.username }}</small></h2>
  <p>Your group id is: {{ user.teamformation.group_id }}</p>
    <h2>Below are pending requests from leader. Fill them fast as they may expire. </h2>
    {% for k in all %}
        <p>{{ k.first_name }}  {{ k.last_name }}</p>
{#        <a href='send/{{ k.teamformation.group_id }}'>Select</a>#}
        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ form }}
                            </fieldset>
                            {{ k.ID }}
                            <button type="submit" name={{ k.teamformation.group_id }} value={{ k.teamformation.group_id }}>Add</button>
                    </form>
    {% endfor %}

   <h1>{{ string.1 }}</h1>
{% endblock %}