{#<!DOCTYPE HTML>#}
{#<html>#}
{##}
{#<head>#}
{#  <title>Project Allotment Portal</title>#}
{#  <meta name="description" content="website description" />#}
{#  <meta name="keywords" content="website keywords, website keywords" />#}
{#  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />#}
{#{% load static %}#}
{#  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />#}
{#    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">#}
{#  <style type="text/css">#}
{##}
{#  </style>#}
{#</head>#}
{##}
{#<body>#}
{#  <div id="main">#}
{#    <div id="header">#}
{#      <div id="logo">#}
{##}
{#          {% load static %}#}
{#          <img id="logo1" src="{% static "style/logo.png" %}" alt="" width="113" height="145" align="left"/>#}
{#          <img id="name"src="{% static "style/mnnitname.png" %}" width="652" height="74" alt=""/>#}
{#          <div class="hedd">#}
{#              <h3 class="hedtxt"> Project Allotment Portal</h3>#}
{#          </div>#}
{##}
{#      </div>#}
{#      <div id="menubar">#}
{#        <ul id="menu">#}
{#          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->#}
{#            {% if user.is_authenticated %}#}
{#              <li><a href="{% url 'logout' %}">logout</a></li>#}
{#                <li class="selected"><a href=" 'group/'">Group</a></li>#}
{#                <li><a href={{ prof }}>View registered Professor's</a></li>#}
{#                {% if user.teamformation.slot_no == 1 %}#}
{#                <li><a href="professors/priority/">Fill Professor Priority</a></li>#}
{#                    {% endif %}#}
{#            {% else %}#}
{#              <li><a href="{% url 'login' %}">login</a></li>#}
{#                <li class="selected"><a href="./group">Group</a></li>#}
{#             {% endif %}#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#  <content id="cont">#}
{#	 {% block content %}#}
{##}
{#	{% endblock %}#}
{#  </content>#}
{#	 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>#}
{#</body>#}
{#</html>#}

<!DOCTYPE html>
<html>
<head>
	<title>Project Allotment Portal</title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		 <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700,400italic' rel='stylesheet'>
		  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
</head>
<body>
<div class="heading">
		<div class="menu">

            <div class="logoo">
                {% load static %}
            <img src="{% static "style/logo.png" %}"/>
            <!-- <img id="logo1" src="{% static "style/logo.png" %}" alt="" width="113" height="145" align="left"/>  -->
			</div>
            <div class="mnitname">
			<img src="{% static "style/mnnitname.png" %}"/>
			</div>
			<div class="naam">
				<strong>Project Allotment Portal</strong>
			</div>
			<div class="rightmenu">
				<ul>
					 {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">logout</a></li>
                <li class="selected"><a href=" 'group/'">Group</a></li>
                <li><a href={{ prof }}>View registered Professor's</a></li>
                {% if user.teamformation.slot_no == 1 %}
                <li><a href="professors/priority/">Fill Professor Priority</a></li>
                    {% endif %}
            {% else %}
              <li><a href="{% url 'login' %}">login</a></li>
{#                <li class="selected"><a href="./group">Group</a></li>#}
             {% endif %}
				</ul>
			</div>
		</div>
		</div>
<hr>
    <div class="mainc">
{% block content %}
<h1>Error Loading Page</h1>
	            {% endblock %}
    </div>
  <footer class="neww">
    Designed and Created by Navneet & Kashyap<br>
      MNNIT ALLAHABAD, Prayagraj
  </footer>
</body>
</html>